.courses-page {
  h1 {
    margin-top: 0;
  }
}

.filter-bar {
  margin-bottom: 1rem;
  max-width: auto;

  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 700;
  }

  input, select {
    width: 100%;
    border: 1px solid #000;
    padding: 0.7rem;
    font: inherit;
    background-color: #fff;
  }

  input {
    margin-bottom: 1rem;
  }
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
  border: 2px solid #000;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}

th, td {
  border: 1px solid #000;
  padding: 0.75rem;
  text-align: left;
  vertical-align: top;
}

th {
  background-color: #cddafd;
}

td {
  word-break: break-word;
    font-size: 0.9em;
}

button {
  border: 1px solid #000;
  background-color: #cddafd;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  font: inherit;
}

button:hover {
  background-color: #b8c7f5;
}

.sort-button {
  width: 100%;
  border: none;
  text-decoration: underline;
  padding: 0;
  text-align: left;
  cursor: pointer;
}

.sort-button:hover {
  text-decoration: underline;
  background: none;
  color: #2f4b99;
}

a {
  color: #000;
  font-weight: 700;
}

@media (max-width: 700px) {
  th, td {
    padding: 0.4rem;
  }

  .table-wrapper {
    font-size: 0.7rem;
  }

  button {
    padding: 0.5rem;
  }
}